# mac
.DS_Store

# emacs
[#]*[#]

# vim
*.sw?
*~

# c/c++ object file
*.o

# Makefile
*.d

# windows
Thumbs.db

# haskell
.stack-work/
dist-newstyle/
dist/
newdist/
*.hi
*.o
cabal.project.local
stack.yaml
stack.yaml.lock
.hspec-failures

# python
*.ipynb_checkpoints
__pycache__

# bin
app/sl
