# os/ide/editer
.DS_Store
Thumbs.db
[#]*[#]
*.sw?
*~
/.vscode/
/.idea/

# haskell
.stack-work/
.stack-work.yaml
.stack/
.project
.HIE/
/dist/
/dist-newstyle/
/newdist/
/.ghc.environment*
/.ghci
*.hi
.hspec-failures

# python
__pycache__
*.ipynb_checkpoints

# users
app/s
